
body{
    background-color: #4f4fde;
    margin-top: 100px;
    height: 100%;
    
  }
h1{
    margin: 20px;
    text-align: center;
    line-height: 0;
  }
form{
    text-align: center;
    line-height: 40px;
    align-items: center;
}
input{
    border-radius: 20px;
    text-align: center;
    color: #7ca6cb;
    font-size: 20px;
}
label{
  font-size: 25px;
  color: #d07171;
}
fieldset{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(60, 60, 168);
}
button{
    border-radius: 10px;
}
.link{
  background-color: orange;
  border-style: none;
  margin-left: 30%;
  margin-top: 0;
}
  a{
    color: white;
    font-size: 20px;
  }
#date{
  color: black;
}
.login{
  font-size: 25px;
}